# Created by venv; see https://docs.python.org/3/library/venv.html
# venv & caches
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/

# data: keep only sample and screenshots
data/raw/
data/processed/
!data/sample/
data/sample/*
!data/sample/bike_sales_sample.csv

# duckdb database
data/processed/sales.duckdb

# excel temp files
~$*.xlsx

# OS/editor
.DS_Store
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
*.pyc

# Ignore all notebooks by default
notebooks/*
# But keep notebook docs if needed
!notebooks/README.md

# Ignore all of app/ except the Streamlit app entrypoint
app/*
!app/streamlit_app.py
